h1 {
  background-color: #09f;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
#animate {
  border: none;
  padding: 10px 10px 10px 10px;
  color: #FFFFFF;
  background-color: #d8eb0c;
}
